{% extends "base.html" %}
{% block title %}Sign up - Address Book Portal{% endblock %}
{% block content %}
<section class="mx-auto max-w-md">
  <div class="panel">
    <h1 class="panel-title">Create account</h1>
    <form method="post" class="stack">
      {% csrf_token %}
      {% include "partials/form_errors.html" with form=form %}
      {% for field in form %}
        {% include "partials/field.html" with field=field %}
      {% endfor %}
      <button class="button-primary w-full" type="submit">Create account</button>
    </form>
  </div>
</section>
{% endblock %}
